.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;

}
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 40px;
margin-bottom: 80px;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background:linear-gradient(270deg,#DF8908 10%,#B415FF 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: white;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;

}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;

}
.services-format:hover{
    border: 2px solid pink;
    background-image: linear-gradient(45deg,rgb(68, 41, 41),rgb(92, 61, 61));
    transform: scale(1.05);
    transition: 0.4s;
    
}

@media (max-width: 1024px){
    .services{
        margin: 60px 60px;
        gap: 60px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .services-title h1{
        font-size: 60px;
    }
}

@media (max-width: 720px){
    .services{
        margin: 50px 30px;
        gap: 50px;
    }
    .services-container{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .services-format{
        width: 100%;
        padding: 16px;
    }
    .services-format p{
        max-width: none;
        line-height: 32px;
    }
}